{% extends "layout.html" %}

<!-- prettier-ignore -->
{% block title %}
add
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<main>
  <section class="review-container">
    <!-- Form -->
    <form action="/add" method="POST" enctype="multipart/form-data">
      <!-- exit button -->
      <span class="exit-btn"><i class="fas fa-times"></i></span>
      <!-- Brand -->
      <div class="form-group">
        <input
          type="text"
          list="datalist-brands"
          class="form-control"
          id="brand"
          placeholder="Brand"
          name="brand"
          autocomplete="off"
        />
        <datalist id="datalist-brands"> </datalist>
      </div>
      <!-- Variety -->
      <div class="form-group">
        <input
          type="text"
          list="datalist-varieties"
          class="form-control"
          id="variety"
          placeholder="Variety"
          name="variety"
          autocomplete="off"
        />
        <datalist id="datalist-varieties"> </datalist>
      </div>
      <!-- Year -->
      <div class="form-group">
        <input
          type="number"
          list="datalist-years"
          class="form-control"
          id="year"
          placeholder="Year"
          name="year"
          autocomplete="off"
        />
        <datalist id="datalist-years"> </datalist>
      </div>
      <!-- wine-id -->
      <input type="hidden" id="wine_id" name="wine_id" value="" />
      <!-- rating -->
      <div class="form-group">
        <input type="number" id="rating" name="rating" />
        <!-- star style -->
        <div class="star-scale">
          <span class="fa fa-star" data-rating="1"></span>
          <span class="fa fa-star" data-rating="2"></span>
          <span class="fa fa-star" data-rating="3"></span>
          <span class="fa fa-star" data-rating="4"></span>
          <span class="fa fa-star" data-rating="5"></span>
        </div>
      </div>
      <!-- Image -->
      <!-- close image -->
      <span class="close-img hidden"><i class="fas fa-times"></i></span>
      <!-- in form image -->
      <img src="" alt="" id="imgpreview" />
      <!-- image form -->
      <div class="form-group img-upload">
        <!-- img icon for input -->
        <span class="image-label"
          ><label for="image"><i class="far fa-image"></i></label
        ></span>
        <!-- hidden input -->
        <input type="file" id="image" accept="image/*" name="file" />
      </div>
      <!-- review -->
      <div class="form-group">
        <label for="review">Review:</label>
        <textarea class="form-control" id="review" rows="3" name="review"></textarea>
      </div>
      <!-- datetime -->
      <!-- drink again -->
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="True" id="defaultCheck1" name="drink_again" />
          <label class="form-check-label" for="defaultCheck1"> drink again? </label>
        </div>
      </div>
      <!-- save -->
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </section>
</main>
{% endblock body%}

<!-- load JS -->
{% block JS %}
<script src="../static/js/add.js"></script>
{% endblock JS %}
