{% extends "layout.html" %}

<!-- prettier-ignore -->
{% block title %}
Edit
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<main>
  <section class="review-container">
    <h1 class="display-4">Edit</h1>
    <!-- Form -->
    <form class="add-form" action="/edit" method="POST" enctype="multipart/form-data">
      <!-- review_id -->
      <input type="hidden" id="review_id" name="review_id" value="{{ review[0]['review_id'] }}" />
      <!-- exit button -->
      <a href="/reviews" class="exit-btn"
        ><span> <i class="fas fa-times"></i></span
      ></a>
      <!-- Brand -->
      <div class="form-group">
        <input
          type="text"
          list="datalist-brands"
          class="form-control"
          id="brand"
          placeholder="Brand"
          name="brand"
          autocomplete="off"
          value="{{ review[0]['brand'] }}"
        />
        <datalist id="datalist-brands"> </datalist>
      </div>
      <!-- Variety -->
      <div class="form-group">
        <input
          type="text"
          list="datalist-varieties"
          class="form-control"
          id="variety"
          placeholder="Variety"
          name="variety"
          autocomplete="off"
          value="{{ review[0]['variety'] }}"
        />
        <datalist id="datalist-varieties"> </datalist>
      </div>
      <!-- Year -->
      <div class="form-group">
        <input
          type="number"
          list="datalist-years"
          class="form-control"
          id="year"
          placeholder="Year"
          name="year"
          autocomplete="off"
          value="{{ review[0]['year'] }}"
        />
        <datalist id="datalist-years"> </datalist>
      </div>
      <!-- wine-id -->
      <input type="hidden" id="wine_id" name="wine_id" value="{{ review[0]['wine_id'] }}" />
      <!-- rating -->
      <div class="form-group">
        <input type="number" id="rating" data-id="edit" name="rating" value="{{ review[0]['rating'] }}" />
        <!-- star style -->
        <div class="star-scale">
          <span class="fa fa-star" data-rating="1"></span>
          <span class="fa fa-star" data-rating="2"></span>
          <span class="fa fa-star" data-rating="3"></span>
          <span class="fa fa-star" data-rating="4"></span>
          <span class="fa fa-star" data-rating="5"></span>
        </div>
      </div>
      <!-- Image -->
      <!-- close image -->
      <span class="close-img hidden"><i class="fas fa-times"></i></span>
      <!-- in form image -->
      <img
        src="{% if review[0]['image'] != None %}{{ review[0]['image'] }}{% else %}{% endif %}"
        alt=""
        id="imgpreview"
      />
      <!-- image form -->
      <div class="form-group img-upload">
        <!-- img icon for input -->
        <span class="image-label"
          ><label for="image"><i class="far fa-image"></i></label
        ></span>
        <!-- hidden input -->
        <input type="file" id="image" accept="image/*" name="file" />
        <input
          type="hidden"
          id="hiddenimage"
          name="image"
          value="{% if review[0]['image'] != None %}{{ review[0]['image'] }}{% else %}{% endif %}"
        />
      </div>
      <!-- review -->
      <div class="form-group">
        <label for="review">Review:</label>
        <textarea class="form-control" id="review" rows="3" name="review">
{{ review[0]['review'] }}
        </textarea>
      </div>
      <!-- datetime -->
      <!-- drink again -->
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="True" id="defaultCheck1" name="drink_again" {% if
          review[0]['drink_again'] == 'True' %} checked {% endif%} />
          <label class="form-check-label" for="defaultCheck1"> drink again? </label>
        </div>
      </div>
      <div class="edit-delete-btns">
        <!-- delete (trigger modal) -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button>
        <!-- save -->
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </section>
</main>

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">This cannot be undone</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/delete?review_id={{ review[0]['review_id'] }}"
          ><button type="button" class="btn btn-danger">Delete</button></a
        >
      </div>
    </div>
  </div>
</div>

{% endblock body%}

<!-- load JS -->
{% block JS %}
<script src="../static/js/add-edit.js"></script>
{% endblock JS %}
