<!-- prettier-ignore -->
{% extends "layout.html" %}

<!-- prettier-ignore -->
{% block title %}
Login
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<main class="text-center main-login">
  <form class="form-signin" action="/login" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <!-- username -->
    <label for="text" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus />
    <!-- password -->
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <!-- error message -->
    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}
  </form>
</main>
{% endblock body%}

<!-- prettier-ignore -->
{% block JS %}
<!-- <script src="../static/js/??.js"></script> -->
{% endblock JS %}
