<!-- prettier-ignore -->
{% extends "layout.html" %}

<!-- prettier-ignore -->
{% block body %}
<main class="text-center main-register">
  <form action="" class="form-register">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">Choose a username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" />
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Set a password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password" />
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter your password" />
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
</main>
{% endblock body%}

<!-- prettier-ignore -->
{% block JS %}
<!-- <script src="../static/js/??.js"></script> -->
{% endblock JS %}
