<!-- prettier-ignore -->
{% extends "layout.html" %}

<!-- prettier-ignore -->
{% block title %}
Reviews
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<main class="reviews-main">
  <section class="reviews">
    <!-- buttons -->
    <div class="review-btns">
      <span>Date</span>
      <span>Rating</span>
      <span>Drink Again</span>
    </div>
    <!-- Review -->
    <div class="review">
      <!-- <article class="review-wine"></article> -->
      <!-- <article class="review-info"></article> -->
      <h4 class="brand">One Roads</h4>
      <div class="star-scale">
        <span class="fa fa-star checked" data-rating="1"></span>
        <span class="fa fa-star checked" data-rating="2"></span>
        <span class="fa fa-star" data-rating="3"></span>
        <span class="fa fa-star" data-rating="4"></span>
        <span class="fa fa-star" data-rating="5"></span>
      </div>
      <img src="static/images-upload\marrymybed.gif" alt="" class="review-img" />
      <p><span class="variety">Shiraz</span>, <span class="year">2019</span></p>
      <p class="datetime">October 16th, 2016</p>
    </div>
  </section>
</main>
{% endblock body%}

<!-- prettier-ignore -->
{% block JS %}
<script src="../static/js/reviews.js"></script>
{% endblock JS %}
