<!-- prettier-ignore -->
{% extends "layout.html" %}

<!-- prettier-ignore -->
{% block title %}
Reviews
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<main class="reviews-main">
  <section class="reviews">
    <!-- Sort/Filter bar -->
    <div class="review-bar">
      <!-- Sort/Order -->
      <div class="btn-group sort-btns" aria-label="Sort btns">
        <button type="button" class="btn btn-secondary active" data-id="sortDate">Date</button>
        <button type="button" class="btn btn-secondary" data-id="sortRating">Rating</button>
        <button type="button" class="btn btn-secondary" data-id="sortOrder">
          <i class="fas fa-sort-down"></i>
          <i class="fas fa-sort-up hide-none"></i>
        </button>
      </div>
      <!-- Filter -->
      <button type="button" class="btn btn-secondary" id="drink_again">
        Drink again?<i class="fas fa-check hide-hidden"></i>
      </button>
    </div>
    <!-- Review -->
    <div id="reviews-html"></div>
    <!-- <article class="review">
      <h4 class="brand">One Roads</h4>
      <div class="star-scale">
        <span class="fa fa-star checked" data-rating="1"></span>
        <span class="fa fa-star checked" data-rating="2"></span>
        <span class="fa fa-star" data-rating="3"></span>
        <span class="fa fa-star" data-rating="4"></span>
        <span class="fa fa-star" data-rating="5"></span>
      </div>
      <img src="static/images-upload\marrymybed.gif" alt="" class="review-img" />
      <p><span class="variety">Shiraz</span>, <span class="year">2019</span></p>
      <p class="datetime">October 16th, 2016</p>
    </article> -->
  </section>
</main>
{% endblock body%}

<!-- prettier-ignore -->
{% block JS %}
<script src="../static/js/reviews.js"></script>
{% endblock JS %}
